<a href="https://colab.research.google.com/github/AndrewZou/Coursera_Capstone/blob/master/Coursera_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project Requirements

Create a new repository on your Github account and name it Coursera_Capstone. 

- Now, start a Jupyter Notebook using any platform that you are comfortable with and do the following:

    1. Write some markdown to explain that this notebook will be mainly used for the capstone project.
    2. Import the pandas library as pd.
    3. Import the Numpy library as np.
    4. Print the following the statement: Hello Capstone Project Course!
    5. Push the Notebook to your Github repository and submit a link to the notebook on your Github repository.

#### A Jupyter Notebook program for coursera capstone project

In [0]:
# import Python packages
import pandas as pd
import numpy as np

Let us test the Python environment for imported packages

In [2]:
# create a Pandas DataFrame object
dataset = {"State": ["Texas", "Illinois", "California", "Massachusetts"],
           "Capital": ["Austin", "Springfield", "Sacramento", "Boston"],
           "Population": [931830, 114868,  509082, 698898],
           "Year": [2019, 2019, 2019, 2018]}
df = pd.DataFrame(dataset, columns = ['State', 'Capital', 'Population', 'Year'])
df

           State      Capital  Population  Year
0          Texas       Austin      931830  2019
1       Illinois  Springfield      114868  2019
2     California   Sacramento      509082  2019
3  Massachusetts       Boston      698898  2018

In [7]:
# create a Numoy array
tuple_var = ([1.2, 2.0, 3.0, 4.0], [5, 6, 7, 8])
np_2d_array = np.array( tuple_var )
np_2d_array

array([[1.2, 2. , 3. , 4. ],
       [5. , 6. , 7. , 8. ]])

In [8]:
# print the required message
print('Hello, Capston Project Course.')

Hello, Capston Project Course.